# Backend (Spring Boot)
backend/RiotTrackerApplication/target/
backend/RiotTrackerApplication/.env

# Frontend (Vite/React)
frontend/league-tracker/node_modules/
frontend/league-tracker/dist/
frontend/league-tracker/.env
frontend/league-tracker/.env.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
